.container-body {
    display: flex;
    flex-flow: column;
    /* border: 4px solid red; */
    height: 100vh;
}

.banner-text {
    display: flex;
    flex-flow: column;
    /* border: 4px solid blue; */
    text-align: center;
}
.banner-text p {
    font-family: poppins;
    color: #ffffff;
}
/* animacin del texto */
.text-area {

    /* border: 4px solid yellow; */
    margin-top: 3%;
    font-size: 70px;
    font-family: fantasy;
    text-transform: uppercase;
    font-weight: bold;

}
.text-area span {
    color: #ffffff;
    opacity: 0;
    transform: translate(0, -100px) rotate(360deg) scale(0);
    animation: animate 2.5s forwards ;

    


}
.text-area span {
    display: inline-block;

}
.text-area span:nth-of-type(2) {
    animation-delay: 0.1s;

}
.text-area span:nth-of-type(3) {
    animation-delay: 0.3s;
}
.text-area span:nth-of-type(4) {
    animation-delay: 0.4s;
}
.text-area span:nth-of-type(5) {
    animation-delay: 0.5s;
}
.text-area span:nth-of-type(6) {
    animation-delay: 0.6s;
}
.text-area span:nth-of-type(7) {
    animation-delay: 0.7s;
}
.text-area span:nth-of-type(8) {
    animation-delay: 0.8s;
}
.text-area span:nth-of-type(9) {
    animation-delay: 0.9s;
}
.text-area span:nth-of-type(10) {
    animation-delay: 0.10s;
}
.text-area span:nth-of-type(11) {
    animation-delay: 0.11s;
}
.text-area span:nth-of-type(12) {
    animation-delay: 0.12s;
}
.text-area span:nth-of-type(13) {
    animation-delay: 0.13s;
}
@keyframes animate {

    30% {
        transform: translate(0, -50px) rotate(180deg) scale(1);
    }
    60% {
        transform: translate(0, -20px) rotate(0deg) scale(0.8);
    }
    100% {
        transform: translate(0) rotate(0deg) scale(1);
        opacity: 1;
    }
}
@media(max-width: 600px) {
    .text-area {
     margin-top: 11%;
        font-size: 35px;
    }

}
@media(max-height: 600px) {
 
    .container-body {
        display: flex;
        flex-flow: column;
        /* border: 4px solid blue; */
        height: 79vh;
    }
}
.carousel {
    /* border: 4px solid greenyellow; */
    height: auto !important;

}

.carousel-item img {
    width: 80vw !important;
    height: 30vh !important;
    object-fit: cover;
    margin: 3% 10% 10%;
}
.carousel-control-next {
    /* opacity: 0; */
    margin: 9%;
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    border: 0;
    background-color: transparent;

}

.carousel-control-prev {
    /* opacity: 0; */
    margin: 9%;
    height: 5rem;
    width: 5rem;
    background-color: transparent;
    border-radius: 100%;
    border: 0;
}
