#ventas{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll ;
}
#filtro {
display: flex;
flex-direction: column;
justify-content: center;

z-index: 2;
background-color: #F4F6F7;
position: sticky;
width: 100%;
height: 5rem;
top: 0;
justify-content: space-between;
-webkit-box-shadow: -5px 3px 31px -8px rgba(0,0,0,0.75);
-moz-box-shadow: -5px 3px 31px -8px rgba(0,0,0,0.75);
box-shadow: -5px 3px 31px -8px rgba(0,0,0,0.75);
} 
#into_filtro{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#container_ventas{
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 100%;   
}
#busca {
margin-left: 2rem;
margin-top: 7px;
height: 3.5em;
width: 15em;
}
#crea {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-right: 3em !important;
margin-top: 5px;
width: 3.9em;
height: 3.9em;
border-radius: 100px;
}  
#mas {
  font-size: 2em;
}
.dropdown{
  padding-top: 1rem;
}
#factura{
  font-size: 1.5em;
  }